
<mat-card class="mat-elevation-z4" style="padding: 20px;">
    <mat-card-title class="cart-title">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="50">
                <span>Registrar Factura</span>
            </div>
            <div fxFlex="50">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutGap.xs="10px">
                    <button type="submit" mat-raised-button color="primary" routerLink="/Facturas">
                        Consultar
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </mat-card-title>
</mat-card>

